/* line 1, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_header.scss */
.header {
  background: #ffffff;
  margin: 0;
  text-align: center;
  height: 500px;
}
/* line 6, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_header.scss */
.header img {
  padding-top: 100px;
}

/* line 1, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_mediagrid.scss */
.media-grid {
  list-style-type: none;
  background: #ffffff;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0;
  height: 200px;
}
/* line 9, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_mediagrid.scss */
.media-grid li {
  background: #482955;
  float: left;
  height: 200px;
  width: 20%;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 18, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_mediagrid.scss */
.media-grid li:hover {
  background: #ffffff;
}
/* line 21, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_mediagrid.scss */
.media-grid li:nth-child(even) {
  background: #846f8d;
}
/* line 23, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_mediagrid.scss */
.media-grid li:nth-child(even) li:nth-child(even):hover {
  background: #ffffff;
}

/* line 1, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_hero.scss */
.hero {
  padding: 50px;
  height: 400px;
  background: #593c64;
}
/* line 5, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_hero.scss */
.hero h1 {
  padding: 40px;
}
/* line 8, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_hero.scss */
.hero a {
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}
/* line 13, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_hero.scss */
.hero #herobutton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  text-decoration: none;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 1, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_extrainfo.scss */
.extrainfo {
  padding: 20px;
  height: 600px;
  background: #d0c8d3;
}
/* line 5, C:/Users/Ian/Documents/TC349/week9/portfolio/sass/components/_extrainfo.scss */
.extrainfo img {
  float: left;
  padding: 20px;
}

/* line 7, ../../sass/application.scss */
body {
  background: #ffffff;
}

/* line 11, ../../sass/application.scss */
.wrap {
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}
