/* line 1, ../../sass/components/_navigate.scss */
.navigate {
  background: #DF0101;
  margin: auto;
  list-style: none;
  padding: 0;
  width: 1200px;
}
/* line 7, ../../sass/components/_navigate.scss */
.navigate li {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 11, ../../sass/components/_navigate.scss */
.navigate li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  display: block;
}
/* line 20, ../../sass/components/_navigate.scss */
.navigate li a:hover {
  background: #ffffff;
  color: #DF0101;
}

/* line 1, ../../sass/components/_header.scss */
.header {
  width: 1200px;
  background: #ffffff;
  height: 155px;
  margin: 0 auto;
}
/* line 6, ../../sass/components/_header.scss */
.header a {
  display: inline;
}
/* line 9, ../../sass/components/_header.scss */
.header .title {
  display: inline;
}
/* line 11, ../../sass/components/_header.scss */
.header .title h1 {
  display: inline;
  margin-top: 5em;
  text-align: center;
}

/* line 1, ../../sass/components/_cta.scss */
.cta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../img/elf2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 10, ../../sass/components/_cta.scss */
.cta .ctatext {
  width: 1200px;
  margin: auto;
  padding: 5em;
}
/* line 14, ../../sass/components/_cta.scss */
.cta .ctatext h2 {
  margin: 1em;
}
/* line 17, ../../sass/components/_cta.scss */
.cta .ctatext h1 {
  font-size: 70px;
  margin: 0;
}
/* line 21, ../../sass/components/_cta.scss */
.cta .ctatext a {
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
/* line 26, ../../sass/components/_cta.scss */
.cta .ctatext #ctabutton {
  display: inline-block;
  margin-top: 100px;
  margin-left: 70%;
  background-color: #ffffff;
  text-decoration: none;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: #000000;
}
/* line 38, ../../sass/components/_cta.scss */
.cta .ctatext #ctabutton:hover {
  background-color: #DF0101;
}

/* line 1, ../../sass/components/_newssection.scss */
.newssection {
  height: 20em;
  width: 1200px;
  margin: auto;
  padding-bottom: 20px;
}
/* line 6, ../../sass/components/_newssection.scss */
.newssection h1 {
  text-align: center;
  display: block;
  border-bottom: 2px solid;
}
/* line 11, ../../sass/components/_newssection.scss */
.newssection .news {
  float: left;
  width: 400px;
  height: 18em;
  background: white;
  position: relative;
}
/* line 18, ../../sass/components/_newssection.scss */
.newssection img {
  display: block;
  max-height: 100%;
  margin: auto;
}
/* line 24, ../../sass/components/_newssection.scss */
.newssection .newstext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.72);
  color: #000000;
  opacity: 0;
}
/* line 25, ../../sass/components/_newssection.scss */
.newssection .newstext h2 {
  text-align: center;
}
/* line 28, ../../sass/components/_newssection.scss */
.newssection .newstext h3 {
  padding: 9px;
}
/* line 31, ../../sass/components/_newssection.scss */
.newssection .newstext .putright {
  float: right;
  padding: 9px;
}
/* line 44, ../../sass/components/_newssection.scss */
.newssection .news:hover .newstext {
  opacity: 1;
}

/* line 1, ../../sass/components/_info.scss */
.info {
  padding-top: 100px;
  height: 320px;
  width: 1200px;
  margin: auto;
}
/* line 6, ../../sass/components/_info.scss */
.info img {
  width: 33%;
  float: left;
}

/* line 1, ../../sass/components/_callendar.scss */
.callendar {
  width: 1200px;
  margin: 10px auto;
  text-align: center;
}

/* line 1, ../../sass/components/_aboutus.scss */
.aboutus {
  width: 1200px;
  margin: auto;
}
/* line 4, ../../sass/components/_aboutus.scss */
.aboutus .aboutpic {
  text-align: center;
}

/* line 1, ../../sass/components/_footer.scss */
.footer {
  height: 75px;
}
/* line 3, ../../sass/components/_footer.scss */
.footer img {
  float: right;
}
/* line 6, ../../sass/components/_footer.scss */
.footer .foottext {
  width: 1200px;
  margin: auto;
  border-top: 2px;
  border-top-style: solid;
  border-top-color: #DF0101;
}

/* line 1, ../../sass/components/_articles.scss */
.articles {
  width: 1200px;
  margin: 20px auto;
}
/* line 4, ../../sass/components/_articles.scss */
.articles ul {
  list-style: none;
  padding: 0;
}
/* line 7, ../../sass/components/_articles.scss */
.articles ul li {
  box-shadow: 2px 2px 1px #000000;
  height: 295px;
}
/* line 11, ../../sass/components/_articles.scss */
.articles ul li h2 {
  padding-left: 5px;
  display: block;
  color: white;
  background: #DF0101;
  margin-bottom: 0;
  margin-top: 50px;
}
/* line 19, ../../sass/components/_articles.scss */
.articles ul li h3 {
  text-decoration: underline;
}
/* line 22, ../../sass/components/_articles.scss */
.articles ul li img {
  max-height: 262px;
  float: left;
  margin-top: 0;
  padding-right: 15px;
}

/* line 12, ../../sass/application.scss */
.calheader {
  text-align: center;
  margin: 50px;
}

/* line 16, ../../sass/application.scss */
.gcal {
  border: 0;
  width: 800px;
  height: 600px;
  frameborder: 0;
  scrolling: no;
}

/* line 24, ../../sass/application.scss */
.classintro {
  width: 1200px;
  margin: auto;
}

/* line 28, ../../sass/application.scss */
.wrap {
  width: 100%;
  margin: auto;
  background: #ffffff;
}

/* line 34, ../../sass/application.scss */
.ctaholder {
  display: inline-block;
  position: relative;
  width: 100%;
  max-height: 500px;
}

/* line 42, ../../sass/application.scss */
#dummy {
  margin-top: 75%;
}

/* line 46, ../../sass/application.scss */
.navbar {
  height: 32px;
  background: #DF0101;
}

/* line 50, ../../sass/application.scss */
.menu {
  display: none;
}

/* line 55, ../../sass/application.scss */
body {
  background: #aaaaaa;
}

@media (max-width: 480px) {
  /* line 59, ../../sass/application.scss */
  .header {
    width: 100%;
    height: auto;
    text-align: center;
  }
  /* line 63, ../../sass/application.scss */
  .header a {
    float: none;
  }
  /* line 68, ../../sass/application.scss */
  .header .title h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  /* line 77, ../../sass/application.scss */
  .navbar {
    height: 0px;
  }

  /* line 80, ../../sass/application.scss */
  .navigate {
    width: 100%;
  }
  /* line 82, ../../sass/application.scss */
  .navigate li {
    height: 0px;
    width: 100%;
    transition: height 1s ease 0.2s;
  }

  /* line 88, ../../sass/application.scss */
  .menu {
    display: block;
    border: 2px solid;
  }
  /* line 91, ../../sass/application.scss */
  .menu a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    background-color: #DF0101;
  }

  /* line 106, ../../sass/application.scss */
  .cta .ctatext {
    width: 100%;
    padding: 0;
    padding-top: 20px;
    text-align: center;
  }
  /* line 111, ../../sass/application.scss */
  .cta .ctatext h2 {
    font-size: 12px;
    margin: 0;
  }
  /* line 115, ../../sass/application.scss */
  .cta .ctatext h1 {
    font-size: 20px;
    margin: 0;
  }
  /* line 119, ../../sass/application.scss */
  .cta .ctatext a {
    font-size: 12px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
  }
  /* line 125, ../../sass/application.scss */
  .cta .ctatext #ctabutton {
    display: inline-block;
    margin-top: 25px;
    margin-left: 0;
  }

  /* line 132, ../../sass/application.scss */
  .newssection {
    height: 60em;
    width: 100%;
  }
  /* line 135, ../../sass/application.scss */
  .newssection .news {
    width: 360px;
  }

  /* line 139, ../../sass/application.scss */
  .info {
    height: auto;
    width: 100%;
    text-align: center;
  }
  /* line 144, ../../sass/application.scss */
  .info img {
    display: none;
  }

  /* line 148, ../../sass/application.scss */
  .footer {
    height: 75px;
  }
  /* line 150, ../../sass/application.scss */
  .footer .foottext {
    width: 100%;
    text-align: center;
  }

  /* line 155, ../../sass/application.scss */
  .gcal {
    border: 0;
    width: 360px;
    height: 600px;
    frameborder: 0;
    scrolling: no;
  }

  /* line 163, ../../sass/application.scss */
  .callendar {
    width: 100%;
  }

  /* line 166, ../../sass/application.scss */
  .articles {
    width: 100%;
  }
  /* line 168, ../../sass/application.scss */
  .articles img {
    display: none;
  }
}
