.media-grid {
  list-style-type: none;
  background: #ffffff;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0;
  height: 200px;

  li{
    background: #482955;
    float: left;
    height: 200px;
    width: 20%;
    @include transition-property(background);
    @include transition-duration(1s);
  }

  li:hover{
    background: #ffffff;
  }
  li:nth-child(even){
    background: #846f8d;
  li:nth-child(even):hover{
    background: #ffffff;
  }
  }
}

