.header{
	width: 60%;
	background: #ffffff;
	height: 155px;
	margin: 0 auto;
	a{
		display: inline;
	}
	.title{
		display: inline;
		h1{
			display: inline;
			margin-top: 5em;
			text-align: center;
		}

	}
	
}