@import 'compass';
@import 'components/header';
@import 'components/mediagrid';
@import 'components/hero';
@import 'components/extrainfo';

body{
  background: #ffffff;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

