@import 'compass';
@import 'components/navigate.scss';
@import 'components/header.scss';
@import 'components/cta.scss';
@import 'components/newssection.scss';

.wrap{
	width: 70em;
	margin: auto;
}

body{
	background: #AAAAAA;
}